<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilfoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luis Romero</p>
        <p>Desarollador web</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium deleniti? Facere voluptatem veritatis eligendi voluptatum quibusdam quasi culpa perferendis ipsa, recusandae illo aperiam. Temporibus perspiciatis rem deserunt veritatis assumenda.</p>
        </span>
    </div>
</div>